_ReSharper.*/
_UpgradeReport_Files
UpgradeLog.XML
Backup
Download
[Bb]in
[Oo]bj
*.suo
*.user
PusherRESTDotNet/PusherRESTDotNet.1.0.nupkg
packages/
PusherRESTDotNet.sln.docstates
build
*.testsettings
*.vsmdi
msbuild.log
*.nupkg
.vs/
PusherServer.Core/project.lock.json