language: csharp
solution: pusher-dotnet-server.sln
os: linux
dist: trusty

matrix:
  include:
    - env: DOTNETCORE=1
      sudo: required
      mono: none
      dotnet: 1.0.0-preview2-003121
    - env: DOTNETCORE=1
      sudo: required
      mono: none
      dotnet: 1.0.0-preview2-003131
    - mono: 4.4.2

before_install:
  - if [ -z "${DOTNETCORE}" ]; then sudo apt-get install nunit-console; fi
before_script:
  - if [ -z "${DOTNETCORE}" ]; then nuget restore pusher-dotnet-server.sln; fi

script:
  - if [ -n "${DOTNETCORE}" ]; then sudo ./build.sh; fi
  - if [ -z "${DOTNETCORE}" ]; then xbuild /p:Configuration=Release pusher-dotnet-server.sln; fi
  - if [ -z "${DOTNETCORE}" ]; then nunit-console PusherServer.Tests/bin/Release/PusherServer.Tests.dll; fi
