<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="applicationId" value=""/>
		<add key="applicationKey" value=""/>
		<add key="applicationSecret" value=""/>
	</appSettings>
</configuration>