<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pusher-app-id" value="103442" />
    <add key="pusher-app-key" value="8fc3b62d31242304f346" />
    <add key="pusher-app-secret" value="0b7f65cfe7f5155b09ed" />
    <!--<add key="pusher-http-host" value="" />
    <add key="pusher-websocket-host" value="" />-->
  </appSettings>
</configuration>