<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PUSHER_APP_ID" value="" />
    <add key="PUSHER_APP_KEY" value="" />
    <add key="PUSHER_APP_SECRET" value="" />
    <add key="PUSHER_APP_WEB_SOCKET_HOST" value="" />
    <add key="PUSHER_APP_HOST" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
