<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PUSHER_APP_ID" value="175237" />
    <add key="PUSHER_APP_KEY" value="0cced0b0950da4e20944" />
    <add key="PUSHER_APP_SECRET" value="c8d4c00d3d607f5a83b5" />
    <add key="PUSHER_APP_WEB_SOCKET_HOST" value="ws.pusherapp.com" />
    <add key="PUSHER_APP_HOST" value="api.pusherapp.com" />
  </appSettings>
</configuration>