<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pusher-app-id" value="" />
    <add key="pusher-app-key" value="" />
    <add key="pusher-app-secret" value="" />
    <add key="pusher-http-host" value="" />
    <add key="pusher-websocket-host" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.0.0" newVersion="0.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>